[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-serializer = "*"
faker = "*"
werkzeug = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
python-dotenv = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.8"
